In [1]:
import pymongo
from pymongo import MongoClient
import pandas as pd
from pydqc import infer_schema, data_summary

In [2]:
client = MongoClient('localhost', 27017)
db = client['asterank']

In [3]:
asteroids = db['asteroids']

In [4]:
asteroids.count()

792975

In [5]:
doc=asteroids.find_one();
keys =[key for key in doc]
print(keys)

['_id', 'id', 'spkid', 'full_name', 'pdes', 'name', 'prefix', 'neo', 'pha', 'H', 'G', 'M1', 'M2', 'K1', 'K2', 'PC', 'diameter', 'extent', 'albedo', 'rot_per', 'GM', 'BV', 'UB', 'IR', 'spec_B', 'spec_T', 'H_sigma', 'diameter_sigma', 'orbit_id', 'epoch', 'epoch_mjd', 'epoch_cal', 'equinox', 'e', 'a', 'q', 'i', 'om', 'w', 'ma', 'ad', 'n', 'tp', 'tp_cal', 'per', 'per_y', 'moid', 'moid_ld', 'moid_jup', 't_jup', 'sigma_e', 'sigma_a', 'sigma_q', 'sigma_i', 'sigma_om', 'sigma_w', 'sigma_ma', 'sigma_ad', 'sigma_n', 'sigma_tp', 'sigma_per', 'class', 'producer', 'data_arc', 'first_obs', 'last_obs', 'n_obs_used', 'n_del_obs_used', 'n_dop_obs_used', 'condition_code', 'rms', 'two_body', 'A1', 'A2', 'A3', 'DT', 'spec', 'prov_des', 'price', 'saved', 'closeness', 'profit', 'score']

In [6]:
# query de uma 1 coluna
pd.DataFrame(asteroids.find({},{'_id':0, "epoch_cal" : 1}))

         epoch_cal
0       20190427.0
1       20190427.0
2       20190427.0
3       20190427.0
4       20190427.0
5       20190427.0
6       20190427.0
7       20190427.0
8       20190427.0
9       20190427.0
10      20190427.0
11      20190427.0
12      20190427.0
13      20190427.0
14      20190427.0
15      20190427.0
16      20190427.0
17      20190427.0
18      20190427.0
19      20190427.0
20      20190427.0
21      20190427.0
22      20190427.0
23      20190427.0
24      20190427.0
25      20190427.0
26      20190427.0
27      20190427.0
28      20190427.0
29      20190427.0
...            ...
792945  20180131.0
792946  20180102.0
792947  20180305.0
792948  20180406.0
792949  20180303.0
792950  20180520.0
792951  20171124.0
792952  20180328.0
792953  20180503.0
792954  20180416.0
792955  20180412.0
792956  20180323.0
792957  20180419.0
792958  20180426.0
792959  20180603.0
792960  20180621.0
792961  20180623.0
792962  20180730.0
792963  20180630.0
792964  20180812.0
792965  20180802.0
792966  20180727.0
792967  20180830.0
792968  20180803.0
792969  20180918.0
792970  20180906.0
792971  20180813.0
792972  20180913.0
792973  20180913.0
792974  20180912.0

[792975 rows x 1 columns]

In [13]:
asteroids_df = pd.DataFrame(asteroids.find({})).drop(['id','_id'],axis=1)
infer_schema.infer_schema(asteroids_df, 
                              "asteroids_20190414", 
                              output_root='../reports/data_quality', 
                              sample_size=1.0, 
                              type_threshold=0.5, 
                              n_jobs=4, 
                              base_schema=None)

In [18]:
data_schema = pd.read_excel('../reports/data_quality/data_schema_asteroids_20190414.xlsx')
data_schema.head(100)

,column,type,include,sample_value,sample_num_uni,sample_uni_percentage,sample_min,sample_median,sample_max,sample_std
0,equinox,str,1,"['J2000', 'J2000', 'J2000', 'J2000', 'J2000']",1,0.00000,NaN,NaN,NaN,NaN
1,inexact,str,1,"[True, True, True, True, True]",1,0.00045,NaN,NaN,NaN,NaN
2,IR,str,1,"['', '', '', '', '']",2,0.00000,NaN,NaN,NaN,NaN
3,PC,str,1,"['', '', '', '', '']",2,0.00000,NaN,NaN,NaN,NaN
4,neo,str,1,"['N', 'N', 'N', 'N', 'N']",3,0.00000,NaN,NaN,NaN,NaN
5,pha,str,1,"['N', 'N', 'N', 'N', 'N']",3,0.00000,NaN,NaN,NaN,NaN
6,two_body,str,1,"['T', '', '', '', '']",3,0.00000,NaN,NaN,NaN,NaN
7,K2,str,1,"['', '', '', '', '']",4,0.00001,NaN,NaN,NaN,NaN
8,prefix,str,1,"['', '', '', '', '']",5,0.00001,NaN,NaN,NaN,NaN
9,condition_code,str,1,"[0.0, 0.0, 0.0, 0.0, 0.0]",13,0.00002,NaN,NaN,NaN,NaN
10,n_dop_obs_used,str,1,"['', '', '', '', '']",20,0.00003,NaN,NaN,NaN,NaN
11,class,str,1,"['MBA', 'MBA', 'MBA', 'MCA', 'MBA']",21,0.00003,NaN,NaN,NaN,NaN
12,extent,str,1,"['', '', '', '', '']",21,0.00003,NaN,NaN,NaN,NaN
13,DT,str,1,"['', '', '', '', '']",26,0.00003,NaN,NaN,NaN,NaN
14,n_del_obs_used,str,1,"['', '', '', '', '']",26,0.00003,NaN,NaN,NaN,NaN
15,spec_B,str,1,"['', '', '', '', '']",29,0.00004,NaN,NaN,NaN,NaN
16,spec,str,1,"['?', '?', '?', '?', '?']",32,0.00004,NaN,NaN,NaN,NaN
17,K1,str,1,"['', '', '', '', '']",41,0.00005,NaN,NaN,NaN,NaN
18,G,str,1,"['', '', '', '', '']",48,0.00006,NaN,NaN,NaN,NaN
19,A3,str,1,"['', '', '', '', '']",75,0.00009,NaN,NaN,NaN,NaN
20,spec_T,str,1,"['', '', '', '', '']",108,0.00014,NaN,NaN,NaN,NaN
21,M2,str,1,"['', '', '', '', '']",139,0.00018,NaN,NaN,NaN,NaN
22,GM,str,1,"['', '', '', '', '']",146,0.00018,NaN,NaN,NaN,NaN
23,M1,str,1,"['', '', '', '', '']",173,0.00022,NaN,NaN,NaN,NaN
24,A1,str,1,"['', '', '', '', '']",214,0.00027,NaN,NaN,NaN,NaN
25,producer,str,1,"['Otto Matic', 'Otto Matic', 'Otto Matic', 'Ot...",224,0.00028,NaN,NaN,NaN,NaN
26,BV,str,1,"['', '', '', '', '']",308,0.00039,NaN,NaN,NaN,NaN
27,A2,str,1,"['', '', '', '', '']",329,0.00041,NaN,NaN,NaN,NaN
28,UB,str,1,"['', '', '', '', '']",340,0.00043,NaN,NaN,NaN,NaN
29,orbit_id,str,1,"[7.0, 10.0, 10.0, 3.0, 17.0]",634,0.00080,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
54,sigma_q,numeric,1,"[1.7325e-07, 1.205e-07, 8.0325e-08, 6.3367e-07...",243975,0.30767,NaN,NaN,NaN,NaN
55,sigma_n,numeric,1,"[5.8153e-09, 5.428e-09, 3.1259e-09, 1.6631e-09...",251109,0.31667,NaN,NaN,NaN,NaN
56,sigma_e,numeric,1,"[5.7942e-08, 5.4559e-08, 4.4953e-08, 5.1624e-0...",255906,0.32272,NaN,NaN,NaN,NaN
57,sigma_ad,numeric,1,"[5.2316e-06, 3.8955e-08, 1.6886e-07, 9.0914e-0...",261341,0.32957,NaN,NaN,NaN,NaN
58,sigma_a,numeric,1,"[2.1244e-08, 1.3777e-08, 0.0029488, 4.4488e-08...",263700,0.33255,NaN,NaN,NaN,NaN
59,sigma_ma,numeric,1,"[3.8719e-05, 892.06, 7.8916e-05, 2.2996e-05, 0...",265133,0.33435,NaN,NaN,NaN,NaN
60,sigma_w,numeric,1,"[7.4409e-05, 4.9976e-05, 3.6039e-05, 6.0591, 0...",266872,0.33655,NaN,NaN,NaN,NaN
61,sigma_per,numeric,1,"[6.1841e-05, 3.3683e-05, 9.4143e-06, 0.0001181...",272916,0.34417,NaN,NaN,NaN,NaN
62,sigma_tp,numeric,1,"[9.4074e-05, 7.2246e-05, 0.00035342, 6.8644e-0...",287051,0.36199,NaN,NaN,NaN,NaN
63,moid,numeric,1,"[3.44839, 1.68531, 0.0231854, 0.875946, 1.64129]",289778,0.36543,NaN,NaN,NaN,NaN
64,moid_ld,numeric,1,"[687.4765884, 423.0550319, 446.8800193, 494.75...",289779,0.36543,NaN,NaN,NaN,NaN
65,dv,numeric,1,"[11.318484, 10.135935, 9.744675, 8.845143, 11....",711999,0.90126,3.74314,9.919217e+00,5.367058e+01,1.368688
66,closeness,numeric,1,"[2631.8001772594616, 2645.0018903967157, 2690....",788111,0.99387,-1,2.649028e+03,8.060724e+03,255.347909
67,prov_des,key,1,"['2001 XE88', '2005 ED65', '2012 UR25', '2003 ...",789551,0.99568,NaN,NaN,NaN,NaN
68,per,numeric,1,"[1354.811778303242, 2046.289436655046, 1363.91...",790651,0.99707,NaN,NaN,NaN,NaN
69,per_y,numeric,1,"[3.58499875647983, 4.0586071691471, 4.27209780...",790652,0.99707,NaN,NaN,NaN,NaN
70,ad,numeric,1,"[2.716535995518575, 3.16695734792081, 3.638638...",790795,0.99725,NaN,NaN,NaN,NaN
71,n,numeric,1,"[0.2637899458607013, 0.1920648523414519, 0.239...",791092,0.99763,NaN,NaN,NaN,NaN
72,ma,numeric,1,"[114.2035064782059, 347.7333369848142, 41.8997...",791100,0.99764,NaN,NaN,NaN,NaN
73,e,numeric,1,"[0.07347332134368158, 0.1353063695953982, 0.27...",791116,0.99766,0,1.445246e-01,1.201134e+00,0.106099
74,a,numeric,1,"[2.231111102663546, 3.101709525338449, 2.67720...",791139,0.99768,NaN,NaN,NaN,NaN
75,q,numeric,1,"[1.982331816321755, 2.57122116550404, 1.838932...",791711,0.99841,0.0011,2.219820e+00,8.042417e+01,2.238111
76,i,numeric,1,"[1.087810058495805, 8.85577523841266, 5.756390...",792302,0.99915,0.00754466,7.220680e+00,1.792123e+02,9.445301
77,w,numeric,1,"[330.1218742766978, 124.4961777612737, 53.6466...",792737,0.99970,0.00166061,1.809861e+02,3.599998e+02,104.080123
78,om,numeric,1,"[224.0269579929905, 176.5580074630853, 113.439...",792764,0.99973,0,1.607426e+02,3.599998e+02,103.376005
79,tp_cal,numeric,1,"[20170812.555381, 20190904.3724887, 20180830.0...",792942,0.99996,-1460628,2.019023e+07,2.258101e+07,107443.637103
80,tp,numeric,1,"[2458295.433676329, 2459079.6351326145, 245826...",792960,0.99998,1.66791e+06,2.458542e+06,2.546064e+06,3922.772212
81,full_name,key,1,"['(2010 TL47)', '(2015 VS108)', '78931 (2003 S...",792975,1.00000,NaN,NaN,NaN,NaN
82,pdes,key,1,"[117661.0, 210147.0, '2016 UD102', '2016 GR33'...",792975,1.00000,NaN,NaN,NaN,NaN
83,spkid,key,1,"[2487984.0, 2120981.0, 2368554.0, 2384959.0, 2...",792975,1.00000,1000001,2.392949e+06,3.835967e+06,671702.403018

In [16]:
data_summary.data_summary(data_schema, 
                          asteroids_df, 
                          "asteroids_20190414", 
                          sample_size=1.0,
                          output_root='../reports/data_quality',
                          n_jobs=4)

**Note**: It looks like the values of spec and spec_T that are filled in are just a small fraction of the asteroids. Maybe more complicated analysis are not possible, or maybe a data augmentation procedure is necessary.